page-login ion-header ion-navbar ion-icon {
  color: #fff !important; }
page-login ion-header ion-navbar ion-buttons {
  margin-right: 25px !important; }
page-login ion-header ion-navbar ion-buttons button {
  border: 1px solid #F1F1F1 !important;
  background: none !important;
  color: #fff !important;
  padding: 10px !important; }
page-login ion-content {
  background: #4dc3f4 !important;
  text-align: center !important; }
page-login ion-content h1 {
  margin-top: 25px !important;
  color: #fff; }
page-login ion-content button.facebook {
  margin: 50px auto;
  background: #3a5998;
  color: #fff;
  font-size: 1.1em;
  padding: 25px !important; }
page-login ion-content button.facebook ion-icon {
  margin-right: 15px;
  font-size: 2em; }
page-login ion-content fieldset {
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  color: #fff;
  font-size: 1.4em;
  border-color: #fff;
  width: 50%;
  margin: -25px auto 5px auto; }
page-login ion-content form {
  margin-bottom: 50px; }
page-login ion-content form ion-input {
  position: relative;
  z-index: 1;
  background: #fff !important;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 5px;
  font-size: 1.3em; }
page-login ion-content form button {
  background: none !important;
  border: 1px solid #fff;
  box-shadow: none !important;
  padding: 20px !important; }
page-login ion-content a {
  color: #fff;
  font-size: 1.2em; }
