<ion-header no-border>
  <ion-navbar transparent>
      <ion-buttons end>
          <button ion-button round (click)="register()">Registrarse</button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content fullscreen padding>
    <h1>¡Bienvenido de nuevo!</h1>
    <!-- <button ion-button block class="facebook" (click)="submitFacebook()">
        <ion-icon name="logo-facebook"></ion-icon>
        Conecta con Facebook
    </button>
    <fieldset>
        <legend>O</legend>
    </fieldset> -->
    <form [formGroup]="formLogin" (ngSubmit)="submitLogin()">
        <ion-input type="text" placeholder="Email" clearInput formControlName="email" autofocus></ion-input>
        <ion-input type="password" placeholder="Contraseña" clearInput formControlName="password"></ion-input>
        <div style="display: inline;">
          <input type="checkbox" class="check-conditions" formControlName="accept">
          <label style="color: white; font-size: 10px;">Acepto la
            <a href="#" (click)="openUrlPrivacidad()">política de privacidad</a> y las 
            <a href="#" (click)="openUrlCondiciones()">condiciones de uso</a>.</label>
        </div>
        <br/>
        <br/>
        <button ion-button round block [disabled]="!formLogin.valid">Entrar</button>
    </form>
    <a (click)="recover()">¿Has olvidado tu contraseña?</a>

</ion-content>