<ion-header no-border>
  <ion-navbar transparent></ion-navbar>
</ion-header>
<ion-content fullscreen padding>
    <h1>¿Has olvidado tu contraseña?</h1>
    <p>No te preocupes, a todos nos pasa. Dinos tu dirección de email y te enviaremos un correo para poder restablecerla.</p>
    <form [formGroup]="formRecover" (ngSubmit)="submitEmail()">
        <ion-input type="email" placeholder="Email" clearInput formControlName="email" autofocus></ion-input>
        <br/>
        <br/>
        <button ion-button round block [disabled]="!formRecover.valid">Enviar</button>
    </form>
</ion-content>