<ion-header no-border>
  <ion-navbar transparent>
      <ion-buttons end>
          <button ion-button round (click)="login()">Iniciar Sesión</button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding align="center">
    <form [formGroup]="formRegister" (ngSubmit)="submitRegister()">

        <ion-item>
            <ion-label>Tipo de usuario</ion-label>
            <ion-select formControlName="type">
                <ion-option *ngFor="let type of userTypes" [value]="type.id">{{type.name}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-input type="text" placeholder="Nombre" clearInput formControlName="name" autofocus></ion-input>
        <ion-input type="text" placeholder="Apellidos" clearInput formControlName="surnames"></ion-input>
        <ion-input type="email" placeholder="Email" clearInput formControlName="email"></ion-input>
        <ion-input type="password" placeholder="Contraseña" clearInput formControlName="password"></ion-input>
        <ion-input type="password" placeholder="Confirma Contraseña" clearInput formControlName="cpassword"></ion-input>

        <label class="label-dir">Indicar dirección a efectos de recogida o entrega de artículos:
        </label>

        <ion-input type="text" placeholder="Dirección" clearInput formControlName="address"></ion-input>
        <ion-input type="text" placeholder="Ciudad" clearInput formControlName="city"></ion-input>
        <ion-input type="text" placeholder="Código Postal" clearInput formControlName="postal_code" maxlength="5"></ion-input>
        
        <ion-item>
            <ion-label>Comunidad</ion-label>
            <ion-select formControlName="region">
                <ion-option *ngFor="let reg of regions" [value]="reg.id">{{reg.comunidad}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Provincia</ion-label>
            <ion-select formControlName="province">
                <ion-option *ngFor="let prov of filterProvinces()" [value]="prov.id">{{prov.provincia}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-input type="text" placeholder="Teléfono" clearInput formControlName="phone"></ion-input>

        <button ion-button round block [disabled]="!formRegister.valid">Registrarse</button>
    </form>
</ion-content>