page-register {

    ion-header ion-navbar ion-icon {
        color: #fff !important;
    }
    ion-header ion-navbar ion-buttons {
        margin-right: 25px !important;
    }
    ion-header ion-navbar ion-buttons button {
        border: 1px solid #F1F1F1 !important;
        background: none !important;
        color: #fff !important;
        padding: 10px !important;
    }

    ion-content {
        background: #4dc3f4 !important;
        text-align: center !important;
    }
    ion-content form {
        margin-top: 50px;
    }
    ion-content form ion-icon[name=mail] {
        font-size: 1.8em;
    }
    ion-content form ion-input {
        position: relative;
        z-index: 1;
        background: #fff !important;
        margin-bottom: 15px;
        border-radius: 8px;
        padding: 5px;
        font-size: 1.3em;
    }

    ion-content form button {
        background: none !important;
        border: 1px solid #fff;
        box-shadow: none !important;
        padding: 20px !important;
    }

    .item-md{
        margin-bottom: 15px;
        border-radius: 8px;
    }

    .label-dir {
        color: white; 
        text-align: left !important;
    }

}