page-register ion-header ion-navbar ion-icon {
  color: #fff !important; }
page-register ion-header ion-navbar ion-buttons {
  margin-right: 25px !important; }
page-register ion-header ion-navbar ion-buttons button {
  border: 1px solid #F1F1F1 !important;
  background: none !important;
  color: #fff !important;
  padding: 10px !important; }
page-register ion-content {
  background: #4dc3f4 !important;
  text-align: center !important; }
page-register ion-content form {
  margin-top: 50px; }
page-register ion-content form ion-icon[name=mail] {
  font-size: 1.8em; }
page-register ion-content form ion-input {
  position: relative;
  z-index: 1;
  background: #fff !important;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 5px;
  font-size: 1.3em; }
page-register ion-content form button {
  background: none !important;
  border: 1px solid #fff;
  box-shadow: none !important;
  padding: 20px !important; }
