page-editmyprofile {

    ion-header .toolbarAndroid ion-icon {
        position: relative !important;
        z-index: 9 !important;
        margin-top: 5px !important;
        margin-left: 15px !important;
        font-size: 2em !important;
        color: #000 !important;;
    }
    ion-header .toolbarAndroid ion-title {
        margin-top: -25px !important;
    }
    ion-header .toolbarIos ion-icon {
        margin-top: 5px !important;
        margin-left: 15px !important;
        font-size: 3em !important;
        color: #000 !important;;
    }
    ion-header .toolbarIos ion-title {
        margin-top: 3px !important;
    }

    change-pass{
        margin-top: 6px;
        margin-bottom: 6px;
    }

    ion-content{
        background-repeat: no-repeat !important;
        background-position: center top !important;
        background-size: 100% 100% !important;
    }
    ion-content .overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,.8);
    }
    ion-content .userInfo {
        position: relative;
        z-index: 2;
        text-align: center;
        margin-bottom: 25px;
        /*background-color: lightblue;*/
    }
    ion-content .userInfo img {
        width: 120px;
        height: 120px;
        border-radius: 200px;
        border: 3px solid #488aff;
    }
    ion-content .userInfo .name {
        font-size: 1.3em;
        color: #000;
        font-weight: 700;
    }
    ion-content .userInfo .city {
        font-size: 1em;
        color: #111;
        margin-top: 2px;
    }
    ion-content .verified {
        background: #fff;
    }
    ion-content .userInfo .clasification .block {
        display: inline-block;
        margin-top: 25px;
        margin-right: 10px;
        font-size: 1.5em;
        color: #444;
    }
    ion-content .userInfo .clasification .block ion-icon {
        font-size: 1.5em;
        vertical-align: middle;
        margin-left: 10px;
    }
    ion-content .toolbarAndroid,
    ion-content .toolbarIos {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
    }
    ion-content .toolbarAndroid ion-segment {
        background: #fff !important;
        padding: 0 !important;
    }
    ion-content .toolbarIos ion-segment {
        position: relative !important;
        left: 0 !important;
        right: 0 !important;
        background: #fff;
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
    }
    ion-content .toolbarAndroid ion-segment ion-segment-button {
        margin: 0 !important;
        padding: 0 0 60px 0 !important;
        width: 100% !important;
        border: none !important;
        border-radius: 0 !important;
        background: none !important;
        color: #aaa !important;
        font-size: .9em !important;
        text-transform: none !important;
    }
    ion-content .toolbarAndroid ion-segment ion-segment-button.segment-activated {
        color: #488aff !important;
    }
    ion-content .toolbarIos ion-segment ion-segment-button {
        margin: 0 !important;
        padding: 5px 0 50px 0 !important;
        width: 100% !important;
        border: none !important;
        border-radius: 0 !important;
        background: none !important;
        font-size: .9em !important;
        color: #aaa !important;
    }
    ion-content .toolbarIos ion-segment ion-segment-button.segment-activated {
        color: #488aff !important;
    }
    ion-content .toolbarAndroid ion-segment ion-segment-button .count {
        display: block;
        font-size: 1.7em;
        margin-bottom: -15px;
    }
    ion-content .toolbarIos ion-segment ion-segment-button .count {
        display: block;
        font-size: 1.7em;
        margin-bottom: -5px;
    }
    ion-content .container {
        position: relative;
        z-index: 9;
        width: 100%;
        height: 100%;
        background: #eee;
    }

    ion-content .container .masonry {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-gap: 0;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        padding-top: 10px;
        padding-bottom: 25px;
    }
    ion-content .container .masonry div {
        break-inside: avoid;
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        padding: 3px;
    }
    ion-content .container .masonry div .imgBg {
        background: #fff;
        width: 100%;
        padding: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border: 1px solid #ddd;
        border-bottom: none;
    }
    ion-content .container .masonry div .imgBg img {
        width: 100%;
        height: auto;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    ion-content .container .masonry div .imgBg .demo {
        width: 100%;
        height: auto;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    ion-content .container .masonry div .info {
        background: #fff;
        border: 1px solid #eee;
        width: 100%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 10px;
        color: #000;
        text-align: left;
        margin-top: -5px;
    }
    ion-content .container .masonry div .info .price {
        display: block;
        width: inherit;
        height: inherit;
        color: #000;
        font-size: 1.3em;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    ion-content .container .masonry div .info .title {
        display: block;
        width: inherit;
        height: inherit;
        color: #ccc;
        font-size: 1.1em;
    }

    ion-content .valorations .itemAndroid,
    ion-content .valorations .itemIos {
        padding: 0 !important;
        margin: 0 0 10px 0 !important;
        width: 100% !important;
        height: auto !important;
        border: none !important;
        box-shadow: 1px 2px 1px #ddd !important;
    }
    ion-content .valorations .itemAndroid ion-thumbnail {
        margin: 0 -7px 0 0 !important;
        padding: 10px !important;
    }
    ion-content .valorations .itemIos ion-thumbnail {
        margin: 0 !important;
        padding: 10px !important;
    }
    ion-content .valorations .itemAndroid ion-thumbnail img,
    ion-content .valorations .itemIos ion-thumbnail img {
        width: 50px;
        height: 50px;
        border-radius: 200px;
    }
    ion-content .valorations .itemAndroid h2 {
        font-size: .9em;
        color: #555;
        font-weight: 700;
    }
    ion-content .valorations .itemIos h2 {
        font-size: .9em;
        color: #555;
        font-weight: 700;
    }
    ion-content .valorations .itemAndroid h4 {
        font-size: .8em;
        color: #488aff;
    }
    ion-content .valorations .itemIos h4 {
        font-size: .7em;
        color: #488aff;
    }
    ion-content .valorations .itemAndroid h2 span,
    ion-content .valorations .itemIos h2 span {
        float: right;
        font-size: .9em;
    }
    ion-content .valorations .itemAndroid h2 span.up,
    ion-content .valorations .itemIos h2 span.up {
        color: green;
    }
    ion-content .valorations .itemAndroid h2 span.down,
    ion-content .valorations .itemIos h2 span.down {
        color: red;
    }
    ion-content .valorations .itemAndroid p {
        font-size: .9em;
        color: #111;
        margin: 5px 0 5px 0;
    }
    ion-content .valorations .itemIos p {
        font-size: .9em;
        color: #111;
        margin: 5px 0 5px 0;
    }

}