<ion-header no-border>
    <ion-toolbar color="none" showWhen="android" class="toolbarAndroid">
        <ion-icon name="close" navPop></ion-icon>
        <ion-title align="center">Editar Mi Perfil</ion-title>
    </ion-toolbar>
    <ion-toolbar transparent showWhen="ios" class="toolbarIos">
        <ion-icon name="close" navPop></ion-icon>
        <ion-title>Editar Mi Perfil</ion-title>
    </ion-toolbar>
</ion-header>



<ion-content padding align="center">
    
    <div class="userInfo">
        <img ion-img src="{{imageAvatar}}" (click)="addAvatar()">
    </div>

    <div class="change-pass">
        <button ion-button (click)="changePass()">Cambiar contraseña</button>
    </div>

    <form [formGroup]="formProfile" (ngSubmit)="submitProfile()">
        <div class="box">
            <ion-list>
                <ion-item>
                    <ion-label>Tipo de usuario</ion-label>
                    <ion-select formControlName="type">
                        <ion-option *ngFor="let type of userTypes" [value]="type.id">{{type.name}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Nombre</ion-label>
                    <ion-input type="text" formControlName="name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Apellidos</ion-label>
                    <ion-input type="text" formControlName="surnames"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Email</ion-label>
                    <ion-input type="text" formControlName="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Teléfono</ion-label>
                    <ion-input type="text" formControlName="phone"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Dirección</ion-label>
                    <ion-input type="text" formControlName="address"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Ciudad</ion-label>
                    <ion-input type="text" formControlName="city"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Código Postal</ion-label>
                    <ion-input type="text" formControlName="postal_code" maxlength="5"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Comunidad</ion-label>
                  <ion-select formControlName="region">
                      <ion-option *ngFor="let reg of regions" [value]="reg.id">{{reg.comunidad}}</ion-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label>Provincia</ion-label>
                  <ion-select formControlName="province">
                      <ion-option *ngFor="let prov of filterProvinces()" [value]="prov.id">{{prov.provincia}}</ion-option>
                  </ion-select>
                </ion-item>
                <br>
                
                <p class="">Introduce tu número de cuenta bancaria para poder recibir los pagos de tus ventas:
                </p>
                <ion-item>
                    <ion-label stacked>IBAN</ion-label>
                    <ion-input type="text" maxlength="34" formControlName="iban"></ion-input>
                </ion-item>
                
            </ion-list>
        </div>
        <button ion-button round block class="submit" [disabled]="!formProfile.valid">Actualizar</button>
    </form>
</ion-content>