<ion-header>
    <ion-navbar color="primary">
        <ion-title *ngIf="product">
            {{product.title}}
            <span class="subtitle">{{product.price}}€</span>
        </ion-title>
        <ion-buttons end>
            <button ion-button>
                <ion-icon name="md-more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content #content [hidden]="isLoading">
    <div class="speech-bubbles" *ngFor="let message of messages">
        
        <div class="avatar send" *ngIf="!isMyMessage(message)">
            <img ion-img src="{{getUserAvatar(otherUser)}}">
        </div>
        <div class="bubble send" *ngIf="!isMyMessage(message)">
            <div class="txt">
                <p class="message">{{message.message}}</p>
                <span class="timestamp">
                    {{message.updated_at | date:'H:mm'}}
                    <span class="senddtick">
                        <ion-icon name="done-all" color="secondary"></ion-icon>
                    </span>
                </span>
            </div>
            <div class="bubble-arrow send"></div>
        </div>

        <div class="avatar" *ngIf="isMyMessage(message)">
            <img ion-img src="{{getUserAvatar(myUser)}}">
        </div>
        <div class="bubble" *ngIf="isMyMessage(message)">
            <div class="txt">
                <p class="message">{{message.message}}</p>
                <span class="timestamp">
                    {{message.updated_at | date:'H:mm'}}
                </span>
            </div>
            <div class="bubble-arrow"></div>
        </div>
    </div>
</ion-content>

<ion-footer no-lines>
    <ion-input type="text" placeholder="Escribe algo" [(ngModel)]="message"></ion-input>
    <button ion-button (click)="send(message)" [disabled]="!message">
        <ion-icon name="send" color="primary"></ion-icon>
    </button>
</ion-footer>

