.ios .ion-page.show-page ~ .nav-decor {
    background-color: rgba(0,0,0,0);
}

page-chat {

    ion-header ion-navbar {
        text-align: center !important;
    }
    ion-header ion-navbar ion-title {
        font-size: .8em !important;
    }
    ion-header ion-navbar ion-title .subtitle {
        display: block;
        font-size: .8em;
        color: #ccc;
    }

    .speech-bubbles {
        padding: 10px 20px;
        .avatar {
            position: absolute;
            left: 10px;
            &.send {
                left: inherit;
                right: 10px;
            }
        }
        .avatar img {
            width: 32px;
            height: 32px;
            border-radius: 200px;
        }
        .bubble {
            width: auto;
            height: auto;
            display: block;
            background: #eee;
            border-radius: 8px;
            position: relative;
            margin: 0 22px 0 35px;
            &.send {
                background: #ecf3ff;
                margin: 0 35px 0 22px;
            }
            .txt {
                padding: 8px 55px 8px 14px;
                .message {
                    font-size: 1em;
                    margin: 0;
                    color: #2b2b2b;
                }
                .timestamp {
                    font-size: 10px;
                    position: absolute;
                    bottom: 8px;
                    right: 10px;
                    text-transform: uppercase;
                    color: #999;
                }
                .senddtick {
                    font-size: 14px;
                    vertical-align: middle;
                }
            }
            .bubble-arrow {
                position: absolute;
                width: 0;
                top: 0;
                left: -16px;
                height: 0;
                &.send{
                    right: -2px;      
                    bottom: 0;
                    left: auto;
                }
            }
            .bubble-arrow:after {
                content: "";
                position: absolute;
                border: 0 solid transparent;
                border-top: 9px solid #eee;
                border-radius: 0 20px 0;
                width: 15px;
                height: 30px;
                transform: rotate(145deg);
            }
            .bubble-arrow.send:after {
                border-color: #ecf3ff;
                transform: rotate(45deg) scaleY(-1);
            }
        }
    }

    ion-footer {
        border-top: 1px solid #eee;
    }
    ion-footer ion-input {
        float: left !important;
        max-width: 90% !important;
        padding: 5px !important;
        font-size: 1.2em !important;
    }
    ion-footer button {
        float: right !important;
        margin: -47px 20px 0 0 !important;
        background: none !important;
        border: none !important;
        width: auto;
        box-shadow: none !important;
        padding: 5px !important;
    }
    ion-footer button ion-icon {
        font-size: 2.2em;
    }

}