<ion-header>
    <ion-navbar color="primary">
        <ion-title>Resultados de búsqueda</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
  <div class="masonry">
    <div *ngFor="let product of productsList">
      <div *ngIf="!product.empty">
        <div class="iconTraelo" *ngIf="product.istraelo === 'yes'">
          <img ion-img src="assets/icon/icontraelo.png">
        </div>
        <div class="imgBg" (click)="viewDetails(product.id)">
          <img ion-img *ngIf="product.img1" src="{{urlUploadImages}}/{{product.id}}/{{product.img1}}">
          <img ion-img *ngIf="!product.img1" src="assets/img/nophoto.png">
        </div>
        <div class="info">
            <div class="price">{{product.price}}€</div>
            <div class="title">{{product.title}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry empty" *ngIf="!productsList.length">
      <div class="empty">
        <h2>Parece que por el momento lo que buscas no se encuentra en Tráelo. <br> Mientras tanto, ¿por qué no echas un vistazo al resto de productos?</h2>
        <button ion-button round color="primary" (click)="goHome()">Ver productos</button>
      </div>
  </div>
</ion-content>