page-contact {

    ion-content{
        background-repeat: no-repeat !important;
        background-position: center top !important;
        background-size: 100% 100% !important;
    }
    ion-content .overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,.4);
    }
    ion-content .icono-traelo {
        position: relative;
        z-index: 2;
        text-align: center;
        margin-top: 45px;
        margin-bottom: 25px;
    }
    ion-content .icono-traelo img {
        width: 120px;
        height: 120px;
        border-radius: 6px;
    }
    ion-content .info-contact {
        margin: 20px;
        color: black !important;

        h3{
            text-align: center;
        }

        .img-sobre-wrapper{
            text-align: center;
            img {
                width: 120px;
            }
        }
        
    }

}