<ion-header>
    <ion-navbar color="primary">
        <ion-title>Contacto</ion-title>
    </ion-navbar>
</ion-header>
<ion-content style="background-color: white">
    <div class="overlay"></div>
    <div class="icono-traelo">
        <img ion-img src="assets/icon/logo-azul.png">
    </div>
        
    <div class="info-contact">
        <p>Si tienes cualquier duda o te surge algún problema, puedes contactar con nosotros en la siguiente dirección:</p>
        <h3>info@traelo.es</h3>
        <div class="img-sobre-wrapper">
            <img ion-img src="assets/icon/msg.png"> 
        </div>
    </div>
</ion-content>