<ion-header no-border>
    <ion-toolbar color="none" showWhen="android" class="toolbarAndroid">
        <ion-icon name="close" navPop></ion-icon>
        <ion-title align="center">Editar Producto</ion-title>
    </ion-toolbar>
    <ion-toolbar transparent showWhen="ios" class="toolbarIos">
        <ion-icon name="close" navPop></ion-icon>
        <ion-title>Editar Producto</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding align="center">
    <form [formGroup]="formProduct" (ngSubmit)="submitProduct()">
        <div class="box">
            <div class="imgrow" (click)="addImage('one')">
                <ion-icon name="camera" *ngIf="!addImage1"></ion-icon>
                <img ion-img *ngIf="addImage1" src="{{addImage1}}">
            </div>
            <div class="imgrow" (click)="addImage('two')">
                <ion-icon name="camera" *ngIf="!addImage2"></ion-icon>
                <img ion-img *ngIf="addImage2" src="{{addImage2}}">
            </div>
            <div class="imgrow" (click)="addImage('three')">
                <ion-icon name="camera" *ngIf="!addImage3"></ion-icon>
                <img ion-img *ngIf="addImage3" src="{{addImage3}}">
            </div>
            <div class="imgrow" (click)="addImage('four')">
                <ion-icon name="camera" *ngIf="!addImage4"></ion-icon>
                <img ion-img *ngIf="addImage4" src="{{addImage4}}">
            </div>
            <div class="imgrow" (click)="addImage('five')">
                <ion-icon name="camera" *ngIf="!addImage5"></ion-icon>
                <img ion-img *ngIf="addImage5" src="{{addImage5}}">
            </div>
            <div class="imgrow" (click)="addImage('six')">
                <ion-icon name="camera" *ngIf="!addImage6"></ion-icon>
                <img ion-img *ngIf="addImage6" src="{{addImage6}}">
            </div>
        </div>
        <div class="box">
            <ion-list>
                <ion-item>
                    <ion-label stacked>Título</ion-label>
                    <ion-input type="text" formControlName="title"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Descripción</ion-label>
                    <ion-textarea formControlName="description"></ion-textarea>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Precio</ion-label>
                    <ion-input type="number" formControlName="price"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Categoría</ion-label>
                    <ion-select formControlName="category">
                        <ion-option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Estado</ion-label>
                    <ion-select formControlName="status">
                        <ion-option value="Nuevo">Nuevo</ion-option>
                        <ion-option value="Usado">Usado</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Peso</ion-label>
                    <ion-select formControlName="kg">
                        <ion-option *ngFor="let peso of pesos" [value]="peso.id">{{peso.text}}</ion-option>
                    </ion-select>
                </ion-item>
                <p ion-text class="package-info">Para los envíos, se admitirá un máximo de 150 cm por bulto (alto + ancho + largo).</p>

                <ion-item class="seguro">
                    <ion-label>Seguro* del precio total frente a pérdida (Opcional) 
                        <span>Coste 3% del precio del artículo.</span>
                    </ion-label>
                    <ion-checkbox formControlName="seguro"></ion-checkbox>
                </ion-item>
                <p ion-text class="package-info" style="font-size: 14px;">*Según la Ley de Ordenación del Transporte Terrestre, solo están cubiertos 7 euros por Kg transportado.</p>
                
            </ion-list>
        </div>
        <button ion-button round block class="submit" [disabled]="!formProduct.valid">Actualizar producto</button>
    </form>
</ion-content>