<ion-nav #contentHome></ion-nav>
<ion-menu [content]="contentHome" type="overlay">
  <ion-content>
    <ion-list no-lines class="userInfo">
      <ion-item (click)="myProfile()" menuClose>
        <ion-avatar item-start>
          <img ion-img src="{{userAvatar}}">
        </ion-avatar>
        <h2 *ngIf="username">{{username}}</h2>
        <p *ngIf="username">Ir a 'Mi Perfil'</p>
        <p *ngIf="!username">No has iniciado sesión</p>
      </ion-item>
    </ion-list>
<!--     <ion-fab top right showWhen="android" (click)="addProduct()" menuClose>
        <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <ion-fab top right showWhen="ios" style="margin-top: 48px !important" (click)="addProduct()" menuClose>
        <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    </ion-fab> -->
    <ion-list no-lines class="links">
      <button ion-item (click)="addProduct()" menuClose class="add-product">
        Añadir producto
      </button>
      <button ion-item (click)="conversations()" menuClose>
        Conversaciones <ion-badge color="danger" *ngIf="unreadMessages() >0" item-end>{{unreadMessages()}}</ion-badge>
      </button>
      <button ion-item (click)="openPNSearch()" menuClose>
        Buscar por referencia
      </button>
      <!-- <button ion-item menuClose>
        Compartir con amigos
      </button>
      <button ion-item menuClose>
        Puntuar App
      </button> -->
      <button ion-item (click)="openHelp()" menuClose>
        Cómo funciona
      </button>
      <button ion-item (click)="openContact()" menuClose>
        Contacto
      </button>
      <button ion-item (click)="logout()" menuClose>
        Desconectar
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons end>
      <button class="search" ion-button (click)="search()">
        <ion-icon name="search" showWhen="android"></ion-icon>
        <ion-icon name="search" showWhen="ios" class="ios"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Tráelo</ion-title>
    <button class="menu" ion-button menuToggle>
      <ion-icon name="menu" showWhen="android"></ion-icon>
      <ion-icon name="menu" showWhen="ios" class="ios"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content>
   
  <ion-refresher (ionRefresh)="loadProductsList($event);">
    <ion-refresher-content 
      pullingText="Refrescar"
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="Cargando...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="masonry loadingContent" *ngIf="isLoading">
    <div>
      <div class="image"></div>
      <div class="info">
        <div class="price"></div>
        <div class="title"></div>
      </div>
    </div>
    <div>
      <div class="image"></div>
      <div class="info">
        <div class="price"></div>
        <div class="title"></div>
      </div>
    </div>
    <div>
      <div class="image"></div>
      <div class="info">
        <div class="price"></div>
        <div class="title"></div>
      </div>
    </div>
    <div>
      <div class="image"></div>
      <div class="info">
        <div class="price"></div>
        <div class="title"></div>
      </div>
    </div>
  </div>
  <div class="masonry" *ngIf="!isLoading">
    <div *ngFor="let product of productsList">
      <div *ngIf="!product.empty">
        <div class="iconTraelo" *ngIf="product.istraelo === 'yes'">
          <img ion-img src="assets/icon/icontraelo.png">
        </div>
        <div class="imgBg" (click)="viewDetails(product)">
          <img ion-img *ngIf="product.img1"  src="{{urlUploadImages}}/{{product.id}}/{{product.img1}}"  >
          <img ion-img *ngIf="!product.img1" src="assets/img/nophoto.png">
        </div>
        <div class="info">
            <div class="price">{{product.price}}€</div>
            <div class="title">{{product.title}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry empty" *ngIf="!isLoading">
    <div *ngFor="let product of productsList">
      <div *ngIf="product.empty" class="empty">
        <h2>Parece que por el momento lo que buscas no se encuentra en Tráelo. <br> Mientras tanto, ¿por qué no echas un vistazo al resto de productos?</h2>
        <button ion-button round color="primary" (click)="realoadProductsList()">Ver productos</button>
      </div>
    </div>
  </div>
</ion-content>