page-home {

    ion-menu ion-content .userInfo {
        margin-top: 10px;
    }
    ion-menu ion-content .userInfo ion-item {
        border-bottom: 1px solid #eee !important;
    }
    ion-menu ion-content .userInfo ion-item h2 {
        font-weight: 700 !important;
        color: #444 !important;
    }
    ion-menu ion-content .userInfo ion-item p {
        font-size: .7em !important;
    }
    ion-menu ion-content ion-fab {
        margin-top: 35px !important;
        margin-right: 20px !important;
    }
    ion-menu ion-content .links button {
        color: #222 !important;

        &.add-product{
          color: #4cc3f4 !important;
          font-size: 2rem;
          font-weight: bold;
        }
    }

    ion-header ion-toolbar .menu ion-icon,
    ion-header ion-toolbar ion-buttons .search ion-icon {
        font-size: 2.5em !important;
    }
    ion-header ion-toolbar .menu ion-icon.ios,
    ion-header ion-toolbar ion-buttons .search ion-icon.ios {
        font-size: 2em !important;
    }

    @keyframes carga {
        from {
            opacity: 1;
        }
       to {
            opacity: .7;
        }
    }

    .masonry {
        background: #fff;
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-gap: 0;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        padding-top: 10px;
        padding-bottom: 25px;
      }
      .masonry.loadingContent {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-gap: 0;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        padding-top: 10px;
        padding-bottom: 25px;
      }
      .masonry.loadingContent div {
        break-inside: avoid;
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        padding: 3px;
      }
      .masonry.loadingContent div .image {
        background: #eee;
        background-position: 300px 0px;
        width: 100%;
        height: 200px;
        padding: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border: 1px solid #ddd;
        border-bottom: none;
        animation-name: carga;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
      }
      .masonry.loadingContent div .info {
          padding: 10px;
          border-color: #eee;
      }
      .masonry.loadingContent div .info .price {
          background: #eee;
          width: 25%;
          height: 15px;
          animation-name: carga;
          animation-duration: 1.5s;
          animation-iteration-count: infinite;
      }
      .masonry.loadingContent div .info .title {
        background: #eee;
        width: 80%;
        height: 15px;
        margin-top: 15px;
        animation-name: carga;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
      }
      .masonry.empty {
          column-count: inherit !important;
          padding: 25px !important;
      }
      .masonry div {
        break-inside: avoid;
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        padding: 3px;
      }
      .masonry div .iconTraelo {
          position: absolute;
          margin: 10px 0 0 10px;
      }
      .masonry div .iconTraelo img {
          width: 22px;
          height: auto;
          border-radius: 3px;
          opacity: .5;
      }
      .masonry div .imgBg {
        background: #fff;
        width: 100%;
        padding: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border: 1px solid #ddd;
        border-bottom: none;
      }
      .masonry div .imgBg img {
        width: 100%;
        height: auto;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      .masonry div .info {
        background: #fff;
        border: 1px solid #eee;
        width: 100%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border: 1px solid #ddd;
        border-top: none;
        padding: 10px;
        color: #000;
        text-align: left;
        margin-top: -5px;
      }
      .masonry div .info .price {
        display: block;
        width: inherit;
        height: inherit;
        color: #000;
        font-size: 1.3em;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .masonry div .info .title {
        display: block;
        width: inherit;
        height: inherit;
        color: #999;
        font-size: 1.1em;
      }

      .empty {
          text-align: center;
          width: 100%;
          height: 100%;
      }
      .empty h2 {
          font-size: 1.2em !important;
          color: #b1b1b1 !important;
          line-height: 1.5;
      }
      .empty button {
          margin-top: 50px !important;
          box-shadow: none !important;
          padding: 20px !important;
      }

}