page-changepass ion-header ion-navbar ion-icon {
  color: #fff !important; }
page-changepass ion-content {
  background: #4dc3f4 !important;
  text-align: center !important; }
page-changepass ion-content h1 {
  color: #fff;
  font-size: 1.5em; }
page-changepass ion-content p {
  color: #fcfcfc;
  width: 70%;
  margin: 0 auto; }
page-changepass ion-content form {
  margin-top: 50px; }
page-changepass ion-content form ion-icon[name=mail] {
  font-size: 1.8em; }
page-changepass ion-content form ion-input {
  position: relative;
  z-index: 1;
  background: #fff !important;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 5px;
  font-size: 1.3em; }
page-changepass ion-content form button {
  background: none !important;
  border: 1px solid #fff;
  box-shadow: none !important;
  padding: 20px !important; }
