<ion-header no-border>
  <ion-navbar transparent></ion-navbar>
</ion-header>
<ion-content fullscreen padding>
    <h1>Cambiar contraseña</h1>
    <p>Introduce tu contraseña actual y la nueva contraseña: </p>
    <form [formGroup]="formChangepass" (ngSubmit)="submitChangepass()">
        <ion-input type="password" placeholder="Contraseña actual" clearInput formControlName="oldpass"></ion-input>
        <ion-input type="password" placeholder="Contraseña nueva" clearInput formControlName="newpass"></ion-input>
        <ion-input type="password" placeholder="Contraseña nueva otra vez" clearInput formControlName="newpassrepeat"></ion-input>
        <br/>
        <br/>
        <button ion-button round block [disabled]="!formChangepass.valid">Enviar</button>
    </form>
</ion-content>