page-conversations {

    ion-list ion-item {
        border: none !important;
    }
    ion-list ion-item.selected {
        background: #eee;
    }
    ion-list ion-item h2 {
        color: #333 !important;
        font-weight: bold !important;
    }
    ion-list ion-item h2 .date {
        float: right;
        font-size: .8em;
        font-weight: normal;
        color: #ccc;
        margin-top: 3px;
    }
    ion-list ion-item .name {
        color: #333 !important;
    }
    ion-list ion-item p {
        color: #c5c5c5 !important;
    }
    ion-list ion-item ion-thumbnail {
        padding: 0 !important;
        margin: 5px -20px -15px 0 !important;
    }
    ion-list ion-item ion-thumbnail img {
        width: 52px !important;
        height: 52px !important;
        border-radius: 200px;
    }
    ion-list ion-item ion-thumbnail .iconSelected {
        position: absolute;
        margin: -20px 0 0 28px;
    }
    ion-list ion-item ion-thumbnail .iconSelected ion-icon {
        font-size: 1.5em !important;
        color: #4dc3f4 !important;
    }
    
    .empty {
        text-align: center;
        padding: 45px;
        margin-top: 50px;
    }
    .empty ion-icon {
        font-size: 8em !important;
        color: #4dc3f4 !important;
    }
    .empty h2 {
        color: #4dc3f4 !important;
        font-weight: bold !important;
        font-size: 1.2em !important;
    }
    .empty p {
        font-size: 1em !important;
        color: #444 !important;
    }

}