<ion-header>
    <ion-navbar color="primary">
        <ion-title>Conversaciones</ion-title>
        <ion-buttons end *ngIf="isDeleting">
            <button ion-button (click)="deleteConversation()">
                <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list *ngIf="!isEmpty">
        <ion-item no-lines *ngFor="let conversation of orderConversations(); let i = index" (press)="itemSelected(conversation.id, i)" (click)="startChat(conversation)" [class.selected]="isDeleting && i === itemSelect">
            <ion-thumbnail item-start *ngIf="!conversation.empty">
                <img src="{{getImgItem(conversation)}}">
                <div class="iconSelected" *ngIf="isDeleting && i === itemSelect">
                    <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
                </div>
            </ion-thumbnail>
            <h2 *ngIf="!conversation.empty">
                <span class="item-text-wrap">{{conversation.product.title}}</span>
                <span class="date">{{getLastDate(conversation) | date:'dd/MM/yyyy H:mm'}}</span>
            </h2>
            <p class="name" *ngIf="!conversation.empty">{{getUserName(conversation)}} 
                <ion-badge *ngIf="unreadMessages(conversation) >0" color="danger">{{unreadMessages(conversation)}}</ion-badge></p>
            <p class="item-text-wrap" *ngIf="!conversation.empty">{{getLastMsg(conversation)}}</p>
        </ion-item>
    </ion-list>

    <div *ngFor="let conversation of conversations">
        <div class="empty" *ngIf="conversation.empty || isEmpty">
            <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
            <h2>No hay conversaciones</h2>
            <p>Para iniciar una conversación haga clic en "Chat" en los detalles de un producto.</p>
        </div>
    </div>
</ion-content>