page-pnsearch ion-content {
  background: #4dc3f4 !important; }
page-pnsearch .header ion-icon {
  font-size: 2em !important;
  color: #fff !important;
  margin-top: 5px !important; }
page-pnsearch .header .input {
  float: right;
  width: 85%; }
page-pnsearch .header .input ion-icon {
  position: absolute !important;
  z-index: 2;
  font-size: 1.5em !important;
  margin-top: 10px !important;
  margin-left: 5px;
  color: #b2b2b2 !important; }
page-pnsearch .header .input ion-input {
  position: relative;
  z-index: 1;
  width: 100% !important;
  background: #fff !important;
  border-radius: 8px !important;
  padding-left: 25px; }
