<ion-content padding>
<form [formGroup]="formSearch" (ngSubmit)="submitSearch()">
    <div class="header">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back" (click)="back()"></ion-icon>
        <div class="input">
            <ion-icon ios="ios-search" md="md-search"></ion-icon>
            <ion-input type="text" placeholder="Número referencia" formControlName="searchText">
        	</ion-input>
        </div>
    </div>
</form>
</ion-content>

<ion-footer>
</ion-footer>