<ion-header>
    <ion-navbar color="none">
        <ion-title>Comprar producto</ion-title>
        <!-- <ion-buttons end>
            <button ion-button>
                <ion-icon name="md-more"></ion-icon>
            </button>
        </ion-buttons> -->
    </ion-navbar>
</ion-header>
<ion-content>
    
    <div class="subtotal">
        {{product.price}}€
    </div>
    <div class="line">
        Producto:
    </div>
    
    <div class="subtotal">
        {{shippingCosts | number : '1.2-2'}}€
    </div>
    <div class="line">
        Gastos de envío:
    </div>
    
    <hr>

    <div class="total">
        {{total | number : '1.2-2'}}€
    </div>
    <div class="totalline">
        Total:
    </div>

    <div class="info-title">
        Pago Seguro
    </div>
    <p class="info">
        Tras pulsar el botón de pagar será redirigido a la pasarela de pago seguro de CaixaBank para que introduzca los datos de su tarjeta y finalice el proceso de compra.
    </p>
    
</ion-content>
<ion-footer>
    <button ion-button block color="primary" (click)="submitPurchase()">Pagar</button>
</ion-footer>