page-purchase {

    ion-content {
        
    }

    ion-content form {
        margin-top: 20px;
    }

    ion-content form .item-md {
        border-radius: 8px !important;
    }

    ion-content .line {
        width: 60%;
        margin: 15px 0 0 10px;
        font-size: 1.1em;
    }
    ion-content .subtotal {
        float: right;
        margin: 15px 25px 0 0;
        font-size: 1.1em;
        color: #4dc3f4;
    }

    ion-content .totalline {
        width: 60%;
        margin: 15px 0 0 10px;
        font-size: 1.4em;
    }
    ion-content .total {
        float: right;
        margin: 15px 25px 0 0;
        font-size: 1.4em;
        color: #4dc3f4;
    }

    ion-content .info-title {
        width: 60%;
        margin: 25px 0 0 5px;
        font-size: 1.2em;
    }
    ion-content .info {
        margin: 15px 0 0 10px;
        font-size: 1em;
        line-height: 1.5;
        color: #555;
    }

    ion-footer {
        margin: 0 !important;
        padding: 0 !important;
        box-shadow: none !important;
        border: none !important;
    }
    ion-footer button {
        margin: 0 !important;
        border-radius: 0 !important;
        padding: 25px !important;
        text-transform: inherit !important;
        font-size: 1.3em !important;
    }
    
}