page-addProduct {

    ion-header .toolbarAndroid ion-icon {
        position: relative !important;
        z-index: 9 !important;
        margin-top: 5px !important;
        margin-left: 15px !important;
        font-size: 2em !important;
        color: #000 !important;;
    }
    ion-header .toolbarAndroid ion-title {
        margin-top: -25px !important;
    }
    ion-header .toolbarIos ion-icon {
        margin-top: 5px !important;
        margin-left: 15px !important;
        font-size: 3em !important;
        color: #000 !important;;
    }
    ion-header .toolbarIos ion-title {
        margin-top: 3px !important;
    }

    .box {
        margin-bottom: 15px;
    }
    .box .imgrow {
        display: inline-block;
        border-radius: 8px;
        border: 1px dashed #ccc;
        padding: 0;
        margin: 0 10px 10px 0;
        vertical-align: top;
    }
    .box .imgrow img {
        width: 85px;
        height: 85px;
        border-radius: 8px;
        border: none;
        
    }
    .box .imgrow ion-icon {
        padding: 15px;
        font-size: 4.2em;
        color: #ccc;
    }

    .box .package-info {
        color: #A4A4A4; 
        text-align: left !important;
        margin: 2px 2px 2px 15px;
    }

    .item-md{
        color: #999;
    }
    .item.item-md .checkbox-md{
        margin: 4px;
    }

    button.submit {
        background: none !important;
        border: 1px solid #32db64 !important;
        box-shadow: none !important;
        color: #32db64;
        font-size: 1.2em;
        text-transform: none;
        font-weight: inherit;
        margin-top: 25px;
    }

    ion-item{

        &.seguro{

            .input-wrapper{

                display: block;
                overflow: unset;
                text-overflow: unset;
                white-space: normal;

                ion-label{
                    font-size: 16px;
                    white-space: normal;

                    span{
                        display: block;
                    }
                }
            }
        }
    }

    

}