<ion-header no-border>
    <ion-navbar transparent>
        <ion-buttons end>
            <!-- <button ion-button>
                <ion-icon name="md-card"></ion-icon>
            </button> -->
            <button ion-button (click)="editMyProfile()">
                <ion-icon name="md-create"></ion-icon>
            </button>
            <!-- <button ion-button>
                <ion-icon name="md-more"></ion-icon>
            </button> -->
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content (ionScroll)="onScroll($event)" fullscreen="{{contentFullscreen}}" style="background-color: white">
    <div class="overlay"></div>
    <div class="userInfo">
        <img ion-img src="{{userAvatar}}">
        <div class="name">{{username}}</div>
        <p class="city">{{city}}</p>
        <!--<ion-chip class="verified">
            <ion-icon name="md-checkmark" color="secondary"></ion-icon>
            <ion-label>Usuario verificado</ion-label>
        </ion-chip>-->
        <!-- <ion-chip class="verified">
            <ion-icon name="md-close" color="danger"></ion-icon>
            <ion-label>Usuario no verificado</ion-label>
        </ion-chip> -->
        <div class="clasification">
            <div class="block">
                <ion-icon name="thumbs-up" color="secondary"></ion-icon> {{countPositives()}}
            </div>
            <div class="block">
                <ion-icon name="thumbs-down" color="danger"></ion-icon> {{countNegatives()}}
            </div>
        </div>
    </div>
    <ion-toolbar showWhen="android" class="toolbarAndroid">
        <ion-segment [(ngModel)]="segmentUserProfile" color="primary">
            <ion-segment-button value="sales">
                <span class="count">{{getProductsNoSold().length}}</span>
                En venta
            </ion-segment-button>
            <ion-segment-button value="solds">
                <span class="count">{{getProductsSold().length}}</span>
                Vendidos
            </ion-segment-button>
            <ion-segment-button value="valorations">
                <span class="count">{{valorations.length}}</span>
                Valoraciones
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <ion-toolbar showWhen="ios" class="toolbarIos">
        <ion-segment [(ngModel)]="segmentUserProfile" color="primary">
            <ion-segment-button value="sales">
                <span class="count">{{getProductsNoSold().length}}</span>
                En venta
            </ion-segment-button>
            <ion-segment-button value="solds">
                <span class="count">{{getProductsSold().length}}</span>
                Vendidos
            </ion-segment-button>
            <ion-segment-button value="valorations">
                <span class="count">{{valorations.length}}</span>
                Valoraciones
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <div [ngSwitch]="segmentUserProfile" class="container">
        <div *ngSwitchCase="'sales'">
            <div class="masonry">
                <div *ngFor="let product of getProductsNoSold()">
                    <div>
                        <div class="imgBg" (click)="viewDetails(product.id)">
                            <img ion-img [src]="getImgProduct(product)">
                            <ion-chip *ngIf="isRenew(product)" class="renovar" color="danger">
                                <ion-icon name="alarm" color="danger"></ion-icon>
                                <ion-label>Renovar</ion-label>
                            </ion-chip>
                        </div>
                        <div class="info">
                            <div class="price">{{product.price}}€</div>
                            <div class="title">{{product.title}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'solds'">
            <div class="masonry">
                <div *ngFor="let product of getProductsSold()">
                    <div>
                        <div class="imgBg" (click)="viewDetails(product.id)">
                            <img ion-img [src]="getImgProduct(product)">
                        </div>
                        <div class="info">
                            <div class="price">{{product.price}}€</div>
                            <div class="title">{{product.title}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'valorations'">

            <ion-list *ngIf="valorations.length>0" padding class="valorations">

                <ion-item showWhen="android" class="itemAndroid" *ngFor="let valoration of valorations">
                    <ion-thumbnail item-start>
                        <img src="assets/icon/no-avatar.png">
                    </ion-thumbnail>
                    <h2>
                        {{valoration.sender.name}}
                        <span *ngIf="valoration.rating==1" class="up"><ion-icon name="thumbs-up"></ion-icon></span>
                        <span *ngIf="valoration.rating!=1" class="down"><ion-icon name="thumbs-down"></ion-icon></span>
                    </h2>
                    <h4>{{getAction(valoration)}}</h4>
                    <p>{{valoration.comments}}</p>
                </ion-item>

                <ion-item showWhen="ios" class="itemIos" *ngFor="let valoration of valorations">
                    <ion-thumbnail item-start>
                        <img src="assets/icon/no-avatar.png">
                    </ion-thumbnail>
                    <h2>
                        {{valoration.sender.name}}
                        <span *ngIf="valoration.rating==1" class="up"><ion-icon name="thumbs-up"></ion-icon></span>
                        <span *ngIf="valoration.rating!=1" class="down"><ion-icon name="thumbs-down"></ion-icon></span>
                    </h2>
                    <h4>{{getAction(valoration)}}</h4>
                    <p>{{valoration.comments}}</p>
                </ion-item>

            </ion-list>
        </div>
    </div>
</ion-content>