page-search {

    ion-content {
        background: #4dc3f4 !important;
    }

    ion-content form {
        margin-top: 20px;
    }

    ion-content form .item-md {
        border-radius: 8px !important;
    }

    ion-content .input ion-icon {
        position: absolute !important;
        z-index: 2;
        font-size: 1.5em !important;
        margin-top: 10px !important;
        margin-left: 5px;
        color: #b2b2b2 !important;
    }
    ion-content form .input ion-input {
        position: relative;
        z-index: 1;
        width: 100% !important;
        background: #fff !important;
        border-radius: 8px !important;
        padding-left: 25px;
    }

    ion-content form button {
        background: none !important;
        border: 1px solid #fff;
        box-shadow: none !important;
        padding: 20px !important;
    }
}