<ion-header>
    <ion-navbar color="primary">
        <ion-title>Buscar Productos</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="formSearch" (ngSubmit)="submitSearch()">

        <div class="input">
            <ion-icon ios="ios-search" md="md-search"></ion-icon>
            <ion-input type="text" placeholder="¿Qué buscas?" formControlName="searchText"></ion-input>
        </div>
    	<br>

        <ion-item>
            <ion-label>Categoría</ion-label>
            <ion-select formControlName="category">
                <ion-option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</ion-option>
            </ion-select>
        </ion-item>
        <br>

        <ion-item>
            <ion-label>Comunidad</ion-label>
            <ion-select formControlName="region">
                <ion-option *ngFor="let reg of regions" [value]="reg.id">{{reg.comunidad}}</ion-option>
            </ion-select>
        </ion-item>
        <br>

        <ion-item>
            <ion-label>Provincia</ion-label>
            <ion-select formControlName="province">
                <ion-option *ngFor="let prov of filterProvinces()" [value]="prov.id">{{prov.provincia}}</ion-option>
            </ion-select>
        </ion-item>
        <br>

        <ion-item>
            <ion-label>Estado</ion-label>
            <ion-select formControlName="status">
                <ion-option value="Nuevo">Nuevo</ion-option>
                <ion-option value="Usado">Usado</ion-option>
            </ion-select>
        </ion-item>
        <br>

        <ion-item>
            <ion-label>Vendedor</ion-label>
            <ion-select formControlName="seller">
                <ion-option *ngFor="let type of userTypes" [value]="type.id">{{type.name}}</ion-option>
            </ion-select>
        </ion-item>
        <br>

        <button ion-button round block class="submit" [disabled]="!formSearch.valid">Buscar</button>
    </form>
</ion-content>