<ion-header no-border>
    <ion-navbar transparent>
        <ion-buttons end>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content (ionScroll)="onScroll($event)" style="background-color: white">

    <div class="box">
        <h1 class="title">Valorar usuario</h1>
        <p class="subtitle">Por favor, valora tu experiencia con este usuario. Con esto ayudarás a otros usuarios de la comunidad Tráelo.</p>
        <div class="userInfo">
            <img ion-img src="{{userAvatar}}">
            <div class="name">{{username}}</div>
            <p class="action">{{getAction(valoration)}}</p>
            <div class="clasification">
                <button ion-button (click)="toggleRating(1)" class="toggleButton" 
                [ngClass]="rating>0 ? 'btn-selected-positive' : ''">
                    <ion-icon name="thumbs-up"> Positivo</ion-icon>
                </button>
                <button ion-button (click)="toggleRating(-1)" class="toggleButton"
                [ngClass]="rating<0 ? 'btn-selected-negative' : ''">
                    <ion-icon name="thumbs-down"> Negativo</ion-icon>
                </button>
            </div>
        </div>

        <form [formGroup]="formRating">
            <ion-item>
                <ion-label stacked>Comentarios:</ion-label>
                <ion-textarea formControlName="comments"></ion-textarea>
            </ion-item>
        </form>
    </div>

</ion-content>

<ion-footer>
    <button ion-button block color="primary" (click)="sendRating()" [disabled]="!formRating.valid || rating==null">Enviar</button>
</ion-footer>