page-ratinguser {

    ion-header::after {
        background: none !important;
        background-image: none !important;
        box-shadow: none !important;
        border: none !important;
    }
    ion-header ion-navbar ion-icon {
        color: #222 !important;
    }
    ion-header ion-navbar ion-buttons {
        margin-right: 15px !important;
    }
    ion-header ion-navbar ion-buttons button {
        margin-right: 15px !important;
        font-size: 1.3em !important;
        color: #222 !important;
    }

    ion-content{
        background-repeat: no-repeat !important;
        background-position: center top !important;
        background-size: 100% 100% !important;
    }
    ion-content .overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,.8);
    }
    ion-content .userInfo {
        position: relative;
        z-index: 2;
        text-align: center;
        margin-bottom: 25px;
        /*background-color: lightblue;*/
    }
    ion-content .userInfo img {
        width: 80px;
        height: 80px;
        border-radius: 200px;
        border: 3px solid #488aff;
    }
    ion-content .userInfo .name {
        font-size: 1.3em;
        color: #000;
        font-weight: 700;
    }
    ion-content .userInfo .city {
        font-size: 1em;
        color: #111;
        margin-top: 2px;
    }
    ion-content .verified {
        background: #fff;
    }
    ion-content .userInfo .clasification .block {
        display: inline-block;
        margin-top: 25px;
        margin-right: 10px;
        font-size: 1.5em;
        color: #444;
    }
    ion-content .userInfo .clasification .block ion-icon {
        font-size: 1.5em;
        vertical-align: middle;
        margin-left: 10px;
    }
    ion-content .toolbarAndroid,
    ion-content .toolbarIos {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
    }
    ion-content .toolbarAndroid ion-segment {
        background: #fff !important;
        padding: 0 !important;
    }
    ion-content .toolbarIos ion-segment {
        position: relative !important;
        left: 0 !important;
        right: 0 !important;
        background: #fff;
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
    }
    ion-content .toolbarAndroid ion-segment ion-segment-button {
        margin: 0 !important;
        padding: 0 0 60px 0 !important;
        width: 100% !important;
        border: none !important;
        border-radius: 0 !important;
        background: none !important;
        color: #aaa !important;
        font-size: .9em !important;
        text-transform: none !important;
    }
    ion-content .toolbarAndroid ion-segment ion-segment-button.segment-activated {
        color: #488aff !important;
    }
    ion-content .toolbarIos ion-segment ion-segment-button {
        margin: 0 !important;
        padding: 5px 0 50px 0 !important;
        width: 100% !important;
        border: none !important;
        border-radius: 0 !important;
        background: none !important;
        font-size: .9em !important;
        color: #aaa !important;
    }
    ion-content .toolbarIos ion-segment ion-segment-button.segment-activated {
        color: #488aff !important;
    }
    ion-content .toolbarAndroid ion-segment ion-segment-button .count {
        display: block;
        font-size: 1.7em;
        margin-bottom: -15px;
    }
    ion-content .toolbarIos ion-segment ion-segment-button .count {
        display: block;
        font-size: 1.7em;
        margin-bottom: -5px;
    }
    ion-content .container {
        position: relative;
        z-index: 9;
        width: 100%;
        height: 100%;
        background: #eee;
    }

    ion-content .container .masonry {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-gap: 0;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        padding-top: 10px;
        padding-bottom: 25px;
    }
    ion-content .container .masonry div {
        break-inside: avoid;
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        padding: 3px;
    }
    ion-content .container .masonry div .imgBg {
        background: #fff;
        width: 100%;
        padding: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border: 1px solid #ddd;
        border-bottom: none;
    }
    ion-content .container .masonry div .imgBg img {
        width: 100%;
        height: auto;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    ion-content .container .masonry div .imgBg .demo {
        width: 100%;
        height: auto;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    ion-content .container .masonry div .info {
        background: #fff;
        border: 1px solid #eee;
        width: 100%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 10px;
        color: #000;
        text-align: left;
        margin-top: -5px;
    }
    ion-content .container .masonry div .info .price {
        display: block;
        width: inherit;
        height: inherit;
        color: #000;
        font-size: 1.3em;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    ion-content .container .masonry div .info .title {
        display: block;
        width: inherit;
        height: inherit;
        color: #ccc;
        font-size: 1.1em;
    }

    ion-content button {
        margin-right: 12px !important;
        font-size: 1.3em !important;
        background-color: white !important;
    }

    .toggleButton {
        color: #c1c1c1;
    }
    .btn-selected-positive {
        color: green !important;
        border: 2px solid #4dc3f4 !important;
    }
    .btn-selected-negative {
        color: red !important;
        border: 2px solid #4dc3f4 !important;
    }

    .action{
        margin: 2px;
        color: #4dc3f4 !important;
        font-size: 1.2em !important;
    }

    .box {
        margin: 15px;
        margin-top: 0px;
    }
    .title {
        color: black;
        font-size: 1.4em !important;
        text-align: center;
        margin-top: 1px;
    }
    .subtitle {
        color: black;
        margin-top: 4px;
    }

    ion-footer {
        margin: 0 !important;
        padding: 0 !important;
        box-shadow: none !important;
        border: none !important;
    }
    ion-footer button {
        margin: 0 !important;
        border-radius: 0 !important;
        padding: 25px !important;
        text-transform: inherit !important;
        font-size: 1.3em !important;
    }

}