<ion-header>
    <ion-navbar [class.hide]="isShowSlides" color="none">
        <ion-buttons end>
            <button ion-button (click)="editProduct()">
                <ion-icon name="md-create"></ion-icon>
            </button>
            <!-- <button ion-button>
                <ion-icon name="md-more"></ion-icon>
            </button> -->
        </ion-buttons>
    </ion-navbar>
    <ion-navbar *ngIf="isShowSlides" color="none">
        <ion-buttons end>
            <button ion-button (click)="closeSlides()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="loadingContent" *ngIf="isLoading">
        <div class="image"></div>
        <div class="title">
            <div class="price"></div>
        </div>
        <div class="description"></div>
        <div class="description"></div>
        <div class="description"></div>
    </div>
    <div class="closeIonSlides" *ngIf="productImageOne && isShowSlides">
        <ion-icon ios="ios-close" md="md-close" (click)="closeSlides()"></ion-icon> Cerrar
    </div>
    <ion-slides *ngIf="productImageOne && isShowSlides">
        <ion-slide>
            <img ion-im src="{{productImageOne}}">
        </ion-slide>
        <ion-slide *ngIf="productImageTwo">
            <img ion-im src="{{productImageTwo}}">
        </ion-slide>
        <ion-slide *ngIf="productImageThree">
            <img ion-im src="{{productImageThree}}">
        </ion-slide>
        <ion-slide *ngIf="productImageFour">
            <img ion-im src="{{productImageFour}}">
        </ion-slide>
        <ion-slide *ngIf="productImageFive">
            <img ion-im src="{{productImageFive}}">
        </ion-slide>
        <ion-slide *ngIf="productImageSix">
            <img ion-im src="{{productImageSix}}">
        </ion-slide>
    </ion-slides>
    <div class="image" *ngIf="!isShowSlides && !isLoading" [ngStyle]="{'background-image':'url(' + productImageOne + ')'}" (click)="showSlides()">
        <div class="iconTraelo" *ngIf="productIsTraelo === 'yes'">
            <img ion-img src="assets/icon/icontraelo.png">
        </div>
        <ion-chip class="sold" *ngIf="productSold === 'yes'">
            <ion-label>Este producto ha sido vendido</ion-label>
        </ion-chip>
        <ion-chip *ngIf="productSold != 'yes' && renovar" class="renovar" color="danger">
            <ion-icon name="alarm" color="danger"></ion-icon>
            <ion-label *ngIf="daysTo>0">Producto a punto de caducar</ion-label>
            <ion-label *ngIf="daysTo<=0">Producto caducado</ion-label>
        </ion-chip>
        <ion-list no-lines class="userInfo">
            <div class="views">
                <ion-icon name="eye"></ion-icon> {{productViews}}
            </div>
            <ion-item>
                <h2>&nbsp;</h2>
                <p>&nbsp;</p>
            </ion-item>
        </ion-list>
    </div>
    <!-- <ion-grid class="btns" *ngIf="!isShowSlides && !isLoading">
        <ion-row>
            <ion-col width-100>
                    <button ion-button round block color="light" (click)="sold()">Vendido</button>
            </ion-col>
        </ion-row>
    </ion-grid> -->
    <div class="textos" *ngIf="!isShowSlides && !isLoading">

        <div class="price" *ngIf="!isShowSlides && !isLoading">
            {{productPrice}}€
        </div>
        <div class="title" *ngIf="!isShowSlides && !isLoading">
            {{productTitle}}
        </div>
        <p class="desc" *ngIf="!isShowSlides && !isLoading">
            {{productDescription}}
        </p>
        <p class="desc" *ngIf="!isShowSlides && !isLoading">
            Referencia: {{productCodeNumber}}
        </p>
        <div class="alerta-caduca" *ngIf="!isShowSlides && !isLoading && renovar && productSold != 'yes'">
            <p *ngIf="daysTo>0">Atención, este producto caduca en {{daysTo}} días. Haz click en renovar para mantenerlo en venta durante 40 días más.</p>
            <p *ngIf="daysTo<=0">Atención, este producto ha caducado. Haz click en renovar para mantenerlo en venta durante 40 días más.</p>
        </div>
    </div>
    

</ion-content>
<ion-footer *ngIf="!isLoading && !isShowSlides && productSold!='yes'">
    <button ion-button round block *ngIf="!renovar" color="primary" (click)="updateSold()">Marcar como Vendido</button>

    <ion-row *ngIf="renovar">
        <ion-col width-50>
                <button ion-button round block color="primary" (click)="renew()">Renovar</button>
        </ion-col>
        <ion-col width-50>
                <button ion-button round block color="secondary" (click)="updateSold()">Marcar como Vendido</button>
        </ion-col>
    </ion-row>

</ion-footer>