
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$colors\".\A         on line 6 of C:/wamp/www/_proyectos/apps/traelo/src/pages/details/details.scss\A \A 1: page-details {\A 2: \A 3:     ion-alert {\A 4:         &.alert-warning {\A 5:           .alert-head {\A 6:             background: map-get($colors, warning);\A 7:             color: #fff;\A 8:             margin-bottom: 10px;\A 9:           }\A 10:         }\A 11:         &.alert-danger {"; }
