<ion-header>
    <ion-navbar [class.hide]="isShowSlides" color="none">
        <!-- <ion-buttons end>
            <button ion-button>
                <ion-icon name="md-more"></ion-icon>
            </button>
        </ion-buttons> -->
    </ion-navbar>
    <ion-navbar *ngIf="isShowSlides" color="none">
        <ion-buttons end>
            <button ion-button (click)="closeSlides()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="loadingContent" *ngIf="isLoading">
        <div class="image"></div>
        <div class="title">
            <div class="price"></div>
        </div>
        <div class="description"></div>
        <div class="description"></div>
        <div class="description"></div>
    </div>
    <div class="closeIonSlides" *ngIf="productImageOne && isShowSlides">
        <ion-icon ios="ios-close" md="md-close" (click)="closeSlides()"></ion-icon> Cerrar
    </div>
    <ion-slides *ngIf="productImageOne && isShowSlides">
        <ion-slide>
            <img ion-im src="{{productImageOne}}">
        </ion-slide>
        <ion-slide *ngIf="productImageTwo">
            <img ion-im src="{{productImageTwo}}">
        </ion-slide>
        <ion-slide *ngIf="productImageThree">
            <img ion-im src="{{productImageThree}}">
        </ion-slide>
        <ion-slide *ngIf="productImageFour">
            <img ion-im src="{{productImageFour}}">
        </ion-slide>
        <ion-slide *ngIf="productImageFive">
            <img ion-im src="{{productImageFive}}">
        </ion-slide>
        <ion-slide *ngIf="productImageSix">
            <img ion-im src="{{productImageSix}}">
        </ion-slide>
    </ion-slides>
    <div class="image" *ngIf="!isShowSlides && !isLoading" [ngStyle]="{'background-image':'url(' + productImageOne + ')'}" (click)="showSlides()">
        <div class="iconTraelo" *ngIf="productIsTraelo === 'yes'">
            <img ion-img src="assets/icon/icontraelo.png">
        </div>
        <ion-chip class="sold" *ngIf="productSold === 'yes'">
            <ion-label>Este producto ha sido vendido</ion-label>
        </ion-chip>
        <ion-list no-lines class="userInfo">
            <div class="views">
                <ion-icon name="eye"></ion-icon> {{productViews}}
            </div>
            <ion-item>
                <ion-avatar item-start (click)="viewProfile(productIdUser)">
                        <img ion-img src="{{productUserAvatar}}">
                    <div class="icon online" *ngIf="productUserOnline === 'yes'"></div>
                </ion-avatar>
                <h2>{{productUserName}} {{productUserFirstLetter}}</h2>
                <p>{{productUserCity}}</p>
            </ion-item>
        </ion-list>
    </div>
    <ion-grid class="btns" *ngIf="!isShowSlides && !isLoading">
        <button ion-button round block color="secondary" (click)="purchase()" [disabled]="productSold === 'yes'">Comprar</button>
        <!-- <ion-row>
            <ion-col width-50>
                <button ion-button round block color="primary" (click)="sendOffer()">Enviar Oferta</button>
            </ion-col>
            <ion-col width-50 *ngIf="productIdUser === idbuyer">
                    <button ion-button round block color="light" (click)="sold()">Vendido</button>
            </ion-col>
            <ion-col width-100 *ngIf="productIdUser !== idbuyer">
                <button ion-button round block color="secondary" (click)="purchase()">Comprar</button>
            </ion-col>
        </ion-row> -->
    </ion-grid>
    <div class="price" *ngIf="!isShowSlides && !isLoading">
        {{productPrice}}€
    </div>
    <div class="title" *ngIf="!isShowSlides && !isLoading">
        {{productTitle}}
    </div>
    <p class="desc" *ngIf="!isShowSlides && !isLoading">
        {{productDescription}}
    </p>
    <p class="desc" *ngIf="!isShowSlides && !isLoading">
        Referencia: {{productCodeNumber}}
    </p>
    <div class="conditions" *ngIf="!isShowSlides && !isLoading">
        <button ion-button color="primary" (click)="infoSecurePay()">
            <ion-icon name="card"></ion-icon>
            <span>Pago <span class="block">seguro</span></span>
        </button>
        <button ion-button color="primary" (click)="infoDelivery()">
            <ion-icon name="home"></ion-icon>
            <span>Entrega <span class="block">en casa</span></span>
        </button>
        <button ion-button color="primary" (click)="infoGuarantee()">
            <ion-icon name="thumbs-up"></ion-icon>
            <span>Garantía <span class="block">devolución</span></span>
        </button>
    </div>
</ion-content>
<ion-footer *ngIf="!isLoading || productIdUser !== iduser || !isShowSlides">
    <button ion-button block color="primary" (click)="startChat()">Chat</button>
</ion-footer>