page-details {

    ion-alert {
        &.alert-warning {
          .alert-head {
            background: map-get($colors, warning);
            color: #fff;
            margin-bottom: 10px;
          }
        }
        &.alert-danger {
          .alert-head {
            color: #fff;
            margin-bottom: 10px;
          }
        }
        &.alert-success {
          .alert-head {
            background: map-get($colors, success);
            color: #fff;
            margin-bottom: 10px;
          }
        }
      
      }

    ion-header,
    ion-header::after {
        background-image: none !important;
    }
    ion-header ion-navbar.hide {
        display: none !important;
    }
    ion-header ion-navbar ion-icon {
        color: #111 !important;
    }
    ion-header ion-navbar ion-buttons ion-icon {
        font-size: 1.8em !important;
        color: #111 !important;
        margin-right: 25px !important;
    }

    @keyframes carga {
        from {
            opacity: 1;
        }
       to {
            opacity: .7;
        }
    }

    .loadingContent .image {
        background: #eee;
        width: 100%;
        height: 300px;
        animation-name: carga;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
    .loadingContent .title {
        background: #eee;
        width: 60%;
        height: 20px;
        margin-bottom: 50px;
        animation-name: carga;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
    .loadingContent .title .price {
        position: absolute;
        right: 0;
        background: #eee;
        width: 20%;
        height: 20px;
        animation-name: carga;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
    .loadingContent .description {
        background: #eee;
        width: 90%;
        height: 20px;
        margin: 15px 10px 15px 10px;
        animation-name: carga;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }

    .closeIonSlides {
        position: absolute;
        z-index: 99999;
        top: -20px;
        left: 0;
        right: 0;
    }
    ion-slides {
        background: #222 !important;
    }

    ion-content button {
        text-transform: inherit !important;
    }
    ion-content .image {
        position: relative;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
        width: 100%;
        height: 300px;
        max-height: 300px;
    }

    ion-content .iconTraelo {
        position: absolute;
        margin: 20px 0 0 20px;
    }
    ion-content .iconTraelo img {
        width: 22px;
        height: auto;
        border-radius: 3px;
        opacity: .5;
    }

    ion-content .sold {
        float: right;
        margin: 15px 15px 0 0;
        background: rgba(255, 0, 0, .5);
        color: white;
        font-weight: bold;
        border-radius: 8px;
    }

    ion-content .userInfo {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    }
    ion-content .userInfo .views {
        position: absolute;
        right: 25px;
        margin-top: 25px;
        font-size: 1.1em;
        font-weight: normal;
        color: #ccc;
    }
    ion-content .userInfo .views ion-icon {
        vertical-align: bottom !important;
    }
    ion-content .userInfo ion-item {
        background: none !important;
    }
    ion-content .userInfo ion-item ion-avatar img {
        width: 50px;
        height: 50px;
        border-radius: 200px;
    }
    ion-content .userInfo ion-item ion-avatar .icon {
        position: absolute;
        margin-top: -15px;
        width: 12px;
        height: 12px;
        border-radius: 200px;
    }
    ion-content .userInfo ion-item ion-avatar .icon.online {
        background: #66b266;
    }
    ion-content .userInfo ion-item h2 {
        color: #fff !important;
    }
    ion-content .userInfo ion-item p {
        color: #bbb !important;
    }

    ion-content .btns,
    ion-content .btns ion-row ion-col {
        margin: -3px 0 0 0 !important;
        padding: 0 !important;
    }

    ion-content .btns button {
        margin: 0 !important;
        border-radius: 0 !important;
        padding: 25px !important;
        text-transform: inherit !important;
        font-size: 1.3em !important;
    }

    ion-content .btns ion-row ion-col button {
        border-radius: 0 !important;
        box-shadow: none !important;
        height: 30px !important;
    }
    
    ion-content .price {
        float: right;
        margin: 15px 25px 0 0;
        font-size: 1.7em;
        color: #4dc3f4;
    }
    ion-content .title {
        width: 60%;
        margin: 15px 0 0 10px;
        font-size: 1.5em;
    }
    ion-content .desc {
        margin: 15px 0 0 10px;
        font-size: 1em;
        line-height: 1.5;
        color: #555;
    }
    ion-content .conditions {
        width: 100%;
        text-align: center;
        margin: 15px 0 80px 0;
    }
    ion-content .conditions button {
        width: 100px;
        height: 100px;
        display: -ms-inline-grid;
        padding: 10px;
        background: #eee;
        color: #555;
        box-shadow: none;
    }
    ion-content .conditions button.activated {
        background: #eee;
        box-shadow: none;
    }
    ion-content .conditions button ion-icon {
        display: block;
        font-size: 3em;
    }
    ion-content .conditions button span,
    ion-content .conditions button span block {
        display: block;
    }

    ion-footer {
        margin: 0 !important;
        padding: 0 !important;
        box-shadow: none !important;
        border: none !important;
    }
    ion-footer button {
        margin: 0 !important;
        border-radius: 0 !important;
        padding: 25px !important;
        text-transform: inherit !important;
        font-size: 1.3em !important;
    }
}